h2{
	text-align: center;
	margin-right: 10%;
	margin-top: 70px;
	margin-bottom: 30px;
}
#comment{
	width: 40%;
	height: 70px;
	margin-left: 24%;
	margin-right: 24%;
	resize: none;
	border-radius: 5px;
	padding: 7px;
}
#ButtonAgree{
	width: 90px;
	height: 32px;
	border-radius: 4px;
	margin-top: 15px;
	margin-left: 57%;
	margin-right: 24%;
}
#answerlist{
	width: 70%;
	height: 50px;
	margin-left: 10%;
	margin-right: 10%;
	border-radius: 5px;
	border: 1px silver solid;
	margin-top: 30px;

}
li{
	padding: 5px;
	list-style-type: none;
}
#checkboxbtn{
	float: right;
	margin-right: 10px;
}
#deletebtn{
	float: right;
	width: 40px;
	height: 25px;
	border-radius: 4px;
}
#deleteicon{
	width: 20px;
	height: 20px;
}
